@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background:#fff;
    width: 100%;
}

.home
{
    height: 100vh;
    width: 100%;
}

header
{
    padding: 20px 30px;
    background: #fff;
    width: 100%;
}

.tete
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.logo
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.logo h1
{
    font-family: 'Roboto', sans-serif;
}

.num-tel
{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.topnav
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px ;
    background: #00BFBA;
    width: 100%;
}

.topnav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00BFBA;
    min-width: 160px;
    border-radius: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    
    color: #3071FF;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .acceuil
  {
      background: #C8FFF8;
      height: 80vh;
  }

  .parent-1
  {
    display: flex;
    justify-content: space-around;
  }

  .banner{
    padding-top: 50px;
  }

  .banner img
  {
      max-height: 500px;
      max-width: 500px;
      float: right;
  }


    #imgtourne {
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 7s linear infinite;
      }

      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  

  .texte
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .title 
  {
    padding-top: 20px;
    padding-left: 100px;
    font-size: 50px;
    text-align: center;
    color: #00BFBA;
  }

  .title h2
  {
    font-size: 50px;
    color: #00BFBA;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .sous-titre-1
  {
    padding-top: 10px;
    padding-left: 60px;
    text-align: center;
  }

  .sous-titre-1 h3
  {
    font-size: 27px;
    color: #3071FF;
    font-family: 'Lato', sans-serif;
    }

  .sous-titre-2 
  {
    padding-top: 20px;
    padding-left: 70px;
    text-align: center;
    font-size: 20px;
  }

  .sous-titre-2 p
  {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
  }

  .button1{
    display:inline-block;
    padding: 15px;
    margin:0 0.3em 0.3em 0;
    border-radius: 5%;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background: #00BFBA;
    color:#FFFFFF;
    text-align:center;
   transition: all 0.2s;

    }
    .button1:hover{
    color:#fff;
    background-color:#3071FF;
    }

  .bouncy{
    animation: bouncy 1.8s infinite linear;
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    }

    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }
/* =============================================================== */
    #infos
    {
      padding: 70px 0px;
    }

    .parent-2
    {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border: solid 2px #06AEBF;
      text-align: center;
      padding: 20px 30px;
    }

    .contain
    {
      font-family: 'Tahoma';
    }

    .appelle
    {
      display: flex;
    }
    .appelle h3
    {
      color: #06AEBF;
    }
    .horaire
    {
      display: flex;
    }
    .horaire h3
    {
      color: #06AEBF;
    }
    .rdv
    {
      display: flex;
    }
    .rdv h3
    {
      color: #06AEBF;
    }

    .fa-phone
    {
      position: relative;
      top: 3px;
      left: -10px;
      color: #06AEBF;
    }

    .fa-pencil-square-o
    {
      position: relative;
      top: 3.5px;
      left: 30px;
      color: #06AEBF;
    }

    .fa-clock-o
    {
      position: relative;
      top: 2px;
      left: 30px;
      color: #06AEBF;
    }

    /* ======================================== */

    #services
    {
      padding:20px 50px;
    }

    .soins
    {
      padding: 20px;
    }

    .title-soin
    {
      color: #3071FF;
      font-family: 'Tahoma';
    }

    .parent-serv-1
    {
      padding: 20px 400px 20px 0px;
    }
    .parent-serv-2
    {
      padding: 20px 0px 20px 400px;
    }
    .parent-serv-3
    {
      padding: 20px 400px 20px 0px;
    }
    .parent-serv-4
    {
      padding: 20px 0px 20px 400px;
    }

    .contain-serv
    {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      height: 40vh;
      width: 100%;
      background: #C8FFF8;
    }
   
    .contain-serv-2
    {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      height: 40vh;
      width: 100%;
      background: #C8FFF8;
    }

    .contain-serv-3
    {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      height: 40vh;
      width: 100%;
      background: #C8FFF8;
    }

    .contain-serv-4
    {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      height: 40vh;
      width: 100%;
      background: #C8FFF8;
    }

    #imgtourne {
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 7s linear infinite;
      }
      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

      #imgtourne-2 {
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 7s linear infinite;
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

        #imgtourne-3 {
          -webkit-animation:spin 4s linear infinite;
          -moz-animation:spin 4s linear infinite;
          animation:spin 7s linear infinite;
          }
          @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
          @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
          @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

          #imgtourne-4 {
            -webkit-animation:spin 4s linear infinite;
            -moz-animation:spin 4s linear infinite;
            animation:spin 7s linear infinite;
            }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }





